@import url('https://fonts.googleapis.com/css2?family=Ovo&display=swap');
* {
    box-sizing: border-box;
}
body{
    font-family: 'Ovo', san-serif;
    background-color: rgb(87, 124, 141);
    background-image: linear-gradient(to bottom,  rgb(93, 138, 168) 0%, rgb(93, 138, 168) 50%, rgb(0, 153, 255) 50%,  rgb(0, 153, 255) 100% );
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
.nav{
    background-color:whitesmoke;
    border-radius: 10px;
    width: 80px;
    padding: 20px;
    display: flex;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.1),  0 2px 5px rgb(0, 0, 0, 0.1);
    transition: width 0.6s linear;
    justify-content: center;
    align-items: center;
}
.nav.active{
    width: 350px;
}
.nav ul{
    list-style-type: none;
    padding: 0;
    width: 0;
    transition: width 0.6s linear;
    display: flex;
}
.nav.active ul{
    width: 100%;
}
.nav ul li{
    transform: rotateY(0deg);
    opacity: 0;
    transition: transform 0.6s linear, opacity 0.6s linear;
}
.nav.active ul li{
    opacity: 1;
    transform: rotateY(360deg);
}
.nav ul a {
    text-decoration: none;
    margin: 0 10px;
    color: black;
}
.icon{
    background-color:whitesmoke;
    position: relative;
    cursor: pointer;
    width: 30px;
    height: 30px;
    padding: 0;
    border: 0;
}
.icon:focus{
    outline: 0;
}
.icon .line{
    background-color: #5290f9;
    height: 2px;
    width: 20px;
    position: absolute;
    top: 10px;
    left: 5px;
    transition: transform 0.6s linear;
}
.icon .line2{
    top: auto;
    left: 5px;
    bottom: 10px;
}
.nav.active .icon .line1{
    transform: rotate(-765deg) translateY(5.5px);
}
.nav.active .icon .line2{
    transform: rotate(765deg) translateY(-5.5px);
}